*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OCR A Std', monospace;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f99ec2, #85cdf7);
    padding: 25px;
}
.container form{
    width: 700px;
    padding: 40px;
    background: rgb(246, 221, 233);
    border-radius: 10px;
}

form .row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.row .column{
    flex: 1 1 250px
}
.column .title{
    font-size: 25px;
    color: rgb(25, 72, 81);
    text-transform: uppercase;
    margin-bottom: 5px;
}
.column .input-box{
    width: 100%;
    padding: 7px 10px;
    border-color: rgb(208, 255, 114);
    border-radius: 15px;
    font-size: 18px;
}
.input-box spam{
    display: block;
    margin-bottom: 10px;
}
.column .flex{
    display: flex;
    gap: 15px;
}
.flex .input-box{
    margin-top: 5px;
}
.input-box img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px black);
}
form .btn{
    width: 100%;
    padding: 12px;
    background-color: rgba(149, 10, 218, 0.593);
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: aliceblue;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;

}
form .btn:hover{
    background: rgba(19, 133, 255, 0.792);
}
